[submodule "qemu"]
	path = qemu
	url = git@github.com:PenNameLuXun/qemu.git
	branch = jxl
[submodule "src/u-boot"]
	path = src/u-boot
	url = git@github.com:PenNameLuXun/uboot.git
	branch = jxl
[submodule "src/busybox"]
	path = src/busybox
	url = https://github.com/mirror/busybox.git
	branch = master
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/gregkh/linux.git
	branch = linux-6.6.y
[submodule "src/trusted-firmware-a"]
	path = src/trusted-firmware-a
	url = https://github.com/ARM-software/arm-trusted-firmware.git
	branch = master
[submodule "src/xen"]
	path = src/xen
	url = https://github.com/xen-project/xen.git
	branch = master
[submodule "src/optee_os"]
	path = src/optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "src/qtbase"]
	path = src/qtbase
	url = https://github.com/qt/qtbase.git
	branch = 6.8
